div{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align:center;
}
.transition1:hover{
    background-color: lightblue;
    
}
.transition2:hover{
    color: red;
    font-family: 'Courier New', Courier, monospace;

}
.transition3:hover{
    transform: translateX(100px);
}
.transition4:hover{
    opacity: 0.5;
    font-style: italic;

}
.transition5:hover{
    color: aqua;
    font-family: cursive;
}
.transition6:hover{
    height: 100px;
    padding-top: 40px;
}
.transition7:hover{
    width: 300px;
    color: blue;
}
.transition8:hover{
    transform: rotate(45deg) ;
}
.transition9:hover{
    box-shadow: 10px 10px 20px rgba(red, green, blue, alpha);
}
.transition10:hover{
    transform: scale(1.5);
}